{% extends 'portfolio/layout.html' %}

{% block main %}
     <style>
        main{
            {% load static %}
            background-image: url("{% static 'portfolio/images/imgProjetos.jpg' %}");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-attachment: fixed;
            color: white;
            display: flex;
            justify-content: center;
            padding-top:3em;
        }
        label{
            color:white;
            font-size: 1.5em;
            font-weight: 600;
            padding-bottom: 2em;
        }
    </style>

    <form action="{% url 'portfolio:edita_projeto' projeto_id %}" method="POST" autocomplete="off">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="botoesEditar">
            <input type="submit" value="Gravar" class="button_save">
            <a href="{% url 'portfolio:apaga_projeto' projeto_id %}" role="button" class="button_delete">Apagar</a>

        </div>
    </form>
{% endblock %}