{% extends 'portfolio/layout.html' %}
{% block main %}
    <style>
        main{
            padding: 0;
        }
    </style>
    <section class="hero_image">
        {% load static %}
        <video src='{% static 'portfolio/images/hero.mp4' %}' muted autoplay loop></video>
        <div class="escurecer"></div>

        <section class="weatherMain">
            <img src="" alt="icon_weather" class="icon">
            <p class="temperatura"></p>
            <p class="region"></p>
            <p class="date"></p>
        </section>

      <script src="{% static 'portfolio/javaScript/weather.js' %}"></script>

        <div class="div_video">
            <p class="fotoPerfiltxt"><img class="fotoPerfil" src="{% static 'portfolio/images/perfil.jpg' %}" alt=""></p>
            <br>
            <br>
                <h2 class="textoHome">Bem-Vindo ao meu portfólio!</h2>
                <br>
                <h2 class="textoHome">Meu nome é Erick Marçal de Pina, tenho 19 anos e sou estudante da Universidade Lusófona no curso de Engenharia Informática!</h2>
        </div>

        <div class="labs">
            <p><a href="https://a22006182-pw-labs.herokuapp.com">Laboratórios Progrmação Web</a></p>
        </div>
    </section>

{% endblock %}
