{% extends 'portfolio/layout.html' %}
{% block main %}
    <style>
        main{
           {% load static %}
           background-image: url("{% static 'portfolio/images/imgLicenciatura.jpg' %}");
           background-repeat: no-repeat;
           background-position: center;
           background-size: cover;
           background-attachment: fixed;
        }
    </style>

    <div class="cadeiras">
        {% for cadeira in cadeiras %}
            <div class="cadeiraBox">
                <div class="Superior">
                    <div class="tituloCadeira">
                        <h3>{{ cadeira.nome }}</h3>
                    </div>
                    <div class="anoCadeira">
                        <h3>({{ cadeira.anoLetivo }})</h3>
                    </div>
                    <div>
                        {% if cadeira.rank == 1 %}
                            <p style="text-align: center">
                                ⭐
                            </p>
                        {% endif %}
                        {% if cadeira.rank == 2 %}
                            <p style="text-align: center">
                                ⭐ ⭐
                            </p>
                        {% endif %}
                        {% if cadeira.rank == 3 %}
                            <p style="text-align: center">
                                ⭐ ⭐ ⭐
                            </p>
                        {% endif %}
                        {% if cadeira.rank == 4 %}
                            <p style="text-align: center">
                                ⭐ ⭐ ⭐ ⭐
                            </p>
                        {% endif %}
                        {% if cadeira.rank == 5 %}
                            <p style="text-align: center">
                                ⭐ ⭐ ⭐ ⭐ ⭐
                            </p>
                        {% endif %}
                    </div>
                </div>

                <br>

                <div class="centroSuperiorCadeiraBox">
                    <p><b>Ano:</b> {{ cadeira.ano }}°</p>
                    <p><b>Semestre:</b> {{ cadeira.semestre }}°</p>
                    <p><b>Professor:</b> <a href="{{ cadeira.professor.linkedin }}">{{ cadeira.professor.nome }}</a></p>
                    <p><b>Ects:</b> {{ cadeira.ects }}.0</p>
                </div>

                <br>

                <div class="centroInferiorCadeiraBox">
                    <p>{{ cadeira.descricao }}</p>
                </div>
                <div class="linkCadeira">
                    <b><a href="{{ cadeira.linkedinPaginaCadeira }}" style="color: black" id="link_cadeira_id">Página da Cadeira</a></b>
                </div>
                <div class="editCadeira">
                    {% if request.user.is_authenticated %}
                        <b><a href="{% url 'portfolio:edita_cadeira' cadeira.id %}" id="edit_cadeira_id">Edit</a></b>
                    {% endif %}
                </div>
            </div>
       {% endfor %}
    </div>

    {% if request.user.is_authenticated %}
        <div class="add_cadeira">
            <a href="{% url 'portfolio:nova_cadeira' %}" class="button_new">Adicionar Cadeira</a>
        </div>
    {% endif %}
{% endblock %}