{% extends 'portfolio/layout.html' %}
{% block main %}
    <style>
        main{
           {% load static %}
           background-image: url("{% static 'portfolio/images/imgLicenciatura.jpg' %}");
           background-repeat: no-repeat;
           background-position: center;
           background-size: cover;
           background-attachment: fixed;
        }
    </style>
    <div class="cadeiras">
        <div>
            <h3>Linguagens de Programação I (2020/2021)</h3>
            <br>
            <p>
                -Frequentei esta cadeira no 2° semestre do 1° ano da faculdade!
            </p>
            <br>
            <p>
                -Durante as aulas tive a oportunidade de aprender a liguagem  de programação C.
            </p>
            <br>
            <p><b> -Esta cadeira vale 5.0 ECTS.</b></p>
            <br>
            <br>
            <br>
            <br>
            <br>
            <p style="text-align: center">
                ⭐ ⭐ ⭐ ⭐ ⭐
            </p>
        </div>
        <div>
            <h3>Arquitetura Avançada de Computadores (2021/2022)</h3>
            <br>
            <p>
                -Frequentei esta cadeira no 1° semestre do 2° ano da faculdade!
            </p>
            <br>
            <p>
                -Durante as aulas tive a oportunidade de aprender a liguagem  de programação C++ e o desenvolvimento de trabalhos utilizando um Arduino.
            </p>
            <br>
            <p><b> -Esta cadeira vale 6.0 ECTS.</b></p>
            <br>
            <br>
            <br>
            <p style="text-align: center">
                ⭐ ⭐ ⭐ ⭐
            </p>
        </div>
        <div>
            <h3>Computação Gráfica (2021/2022)</h3>
            <br>
            <p>
                -Estou a realizar esta cadeira agora, durante o 2° semestre do 2° ano da faculdade!
            </p>
            <br>
            <p>
                -Durante as aulas estou a aprender sobre manipulação de imagens a partir da programação.
            </p>
            <br>
            <p><b> Esta cadeira vale 6.0 ECTS.</b></p>
            <br>
            <br>
            <br>
            <br>
            <p style="text-align: center">
                ⭐ ⭐ ⭐ ⭐ ⭐
            </p>
        </div>
    </div>
{% endblock %}