{% extends 'portfolio/layout.html' %}

{% block main %}
    <style>
        main{
            {% load static %}
            background-image: url("{% static 'portfolio/images/login.jpg' %}");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-attachment: fixed;
            display: flex;
            justify-content: center;
            padding-top:3em;
        }
    </style>
    <form action="{% url 'portfolio:login' %}" method="POST">
        {% csrf_token %}
        <div>
            {% if message %}
              <div> {{ message }} </div>
            {% endif %}
        </div>


        <div class="aaa">
            <div class="eh">
                <h1>Login</h1>
                <p>Username: <input type="text" name="username" id="id_username" autocomplete="off"></p>
                <p>Password: <input type="password" name="password" id="id_password" autocomplete="off"></p>
                <input type="submit" value="Entrar" id="submitLogin">
            </div>
        </div>
    </form>
{% endblock %}