{% extends 'portfolio/layout.html' %}

{% block main %}
    <style>
        main{
            {% load static %}
            background-image: url("{% static 'portfolio/images/imgProjetos.jpg' %}");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-attachment: fixed;
            color: white;
            display: flex;
            justify-content: center;
            padding-top:3em;
        }
        label{
            color:white;
            font-size: 1.5em;
            font-weight: 600;
            padding-bottom: 2em;
        }
    </style>
    <form action="" method="POST" autocomplete="off" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}

        <div class="botoesNovoPost">
            <a href="{% url 'portfolio:projetos' %}" class="button_cancel">Cancelar</a>
            <input type="submit" value="Gravar" class="button_save">
        </div>
    </form>
{% endblock %}