{% extends 'portfolio/layout.html' %}
{% block main %}

    <style>
        main{
           {% load static %}
           background-image: url("{% static 'portfolio/images/imgProjetos.jpg' %}");
           background-repeat: no-repeat;
           background-position: center;
           background-size: cover;
           background-attachment: fixed;
        }
    </style>
	<div class="projetos">
        {% for projeto in projetos %}
            <div class="projetosBox">
                <div class="imagemProjeto">
                    <img src="{{ projeto.imagem.url }}" alt="">
                </div>
                <div class="textoProjeto">
                    <p><b>{{ projeto.titulo }}</b></p>
                    <br>
                    <p id="descricaoProjeto">{{ projeto.descricao }}</p>
                </div>
                {% if request.user.is_authenticated %}
                    <div class="edita_projeto">
                        <b><a href="{% url 'portfolio:edita_projeto' projeto.id %}" class="button_edit">Edit</a></b>
                    </div>
                {% endif %}

            </div>
        {% endfor %}
    </div>
    {% if request.user.is_authenticated %}
        <div class="add_projeto">
            <a href="{% url 'portfolio:novo_projeto' %}" class="button_new">Adicionar Projeto</a>
        </div>
    {% endif %}
{% endblock %}
