<body>
{% extends 'portfolio/layout.html' %}
{% block main %}

    <style>
        main{
           {% load static %}
           background-image: url("{% static 'portfolio/images/imgProjetos.jpg' %}");
           background-repeat: no-repeat;
           background-position: center;
           background-size: cover;
           background-attachment: fixed;
        }
    </style>
	<div class="projetos">
        <div>
            {% load static %}
                <img src="{% static 'portfolio/images/xadrez.png' %}" alt="">
            <pre style="text-align: left">
                                <b>Jogo de Xadrez</b>


 <b>- Cadeira: </b>Fundamentos de Programação
 <b>- Ano/Semestre: </b>1° Ano / 1° Semestre
 <b>- Desenvolvendores: </b>Erick Pina; Bernardo Ramalho <b> </b>
            </pre>
        </div>
        <div>
            {% load static %}
                <img src="{% static 'portfolio/images/greatGame.png' %}" alt="">
            <pre style="text-align: left">
                        <b>Deisi Great Game</b>


 <b>- Cadeira: </b>Linguagens de Programação II
 <b>- Ano/Semestre: </b>2° Ano / 1° Semestre
 <b>- Desenvolvendores: </b>Erick Pina; Pedro Moreira <b> </b>
            </pre>
        </div>
        <div>
            {% load static %}
                <img src="{% static 'portfolio/images/arduino.jpg' %}" alt="">
            <pre style="text-align: left">
                                <b>Sistema de Rega Automática (Arduino)</b>


 <b>- Cadeira: </b>Arqueitetura Avançada de Computadores
 <b>- Ano/Semestre: </b>2° Ano / 1° Semestre
 <b>- Desenvolvendores: </b>Erick Pina; João YP; Rafael Rodrigues; Robert Cachapa <b> </b>
            </pre>
        </div>
    </div>
{% endblock %}

</body>
