form p{
    padding: 10px;
  justify-content: center;
}

#id_descricao{
    width: 45em;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
    border: 2px solid white;
    border-radius: 16px;
    padding: 10px 1em 5px 1em;
    text-align: left;
    color: #ffffff;
    margin-top: 0.5em;
    font-size:large;
}

#id_autor{
    width: 20em;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
    border: 2px solid white;
    border-radius: 16px;
    padding: 10px 1em 5px 1em;
    text-align: left;
    color: #ffffff;
    font-size: large;
    margin-top: 0.5em;
}

#id_titulo{
    width: 40em;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
    border: 2px solid #ffffff;
    border-radius: 16px;
    padding: 10px 1em 5px 1em;
    text-align: left;
    color: #ffffff;
    font-size: large;
    margin-top: 0.5em;
}

.botoesEditar{
  width: 100%;
  text-align: center;
}

.button_delete {
  background-color: #ff0000;
  border: none;
  color: white;
  padding: 13px 20px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.button_delete:hover {opacity: 1}