.hero_image{
    width: 100%;
    height: 90vh;
    position: relative;
    right: 0;
}

.escurecer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.hero_image video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fotoPerfil{
    border-radius: 30px 30px;
    width: 150px;
    height: 150px;
}
.fotoPerfiltxt{
    text-align: center;
}

.textoHome{
    text-align: center;
    font-weight: 1000;
    color: #ffffff;
}

.div_video{
    position: absolute;
    z-index: 10;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}